<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
<link rel="import" href="shared-styles.html">
<!--<link rel="import" href="elements/elements.build.html" async>-->

<!--for dev-->
<link rel="import" href="elements.html">

<dom-module id="my-viewReminder">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <header>
            <h1>Reminders</h1>
        </header>
        <template is="dom-bind">
            <reminder-component model-id="model" items="{{reminders}}"></reminder-component>
        </template>

    </template>

    <script>
      (function() {
        'use strict';

        Polymer({
          is: 'my-viewReminder',
        });
      })();
    </script>
</dom-module>
