<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="reminder-model">
    <template strip-whitespace>
        <iron-localstorage name="reminders" value="{{reminders}}"
                           on-iron-localstorage-load-empty="_initializeDefault"></iron-localstorage>
    </template>
    <script>
      (function() {
        'use strict';

        Polymer({
          is: 'reminder-model',

          hostAttributes: {
            hidden: true,
          },

          properties: {
            reminders: {
              type: Array,
              notify: true,
            },
          },

          _initializeDefault: function() {
            this.reminders = [];
          },

          newReminder: function(item) {
            const {title, dueDate} = item;

            if (!title || !dueDate) {
              return;
            }

            this.push('reminders', item);
          },

          destroyReminder: function(item) {
            const i = this.reminders.indexOf(item);
            if (i > -1) {
              this.splice('reminders', i, 1);
            }
          },

        });
      })();
    </script>
</dom-module>
