<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">

<link rel="import" href="reminder-item.html">

<dom-module id="reminder-component">
    <template strip-whitespace>
        <style>
            :host {
                display: block;
            }

            ul {
                border: 1px solid #000;
                padding: 0;
            }

            ul li {
                list-style: none;
                padding: 10px;
            }

            ul li:nth-child(even) {
                background-color: #888;
            }

            ul li:nth-child(odd) {
                background-color: #ccc;
            }
        </style>

        <section>
            <reminder-model id="model" reminders="{{reminders}}"></reminder-model>
            <paper-button raised on-tap="showDialog">Add New</paper-button>

            <paper-dialog id="dialog" on-iron-overlay-closed="dismissDialog">
                <paper-input always-float-label label="Title" id="title" autofocus></paper-input>
                <paper-input always-float-label id="desc" label="Description"></paper-input>
                <span>Due Date</span>
                <paper-date-picker id="dueDate" date="[[date]]"></paper-date-picker>
                <div class="buttons">
                    <paper-button dialog-dismiss>Cancel</paper-button>
                    <paper-button dialog-confirm>OK</paper-button>
                </div>
            </paper-dialog>

            <template is="dom-if" if="{{reminders.length}}">
                <section id="main">
                    <ul id="reminder-list" on-destroy-item="destroyReminderAction">
                        <template id="reminder-list-repeater" is="dom-repeat" items="{{reminders}}"
                                  strip-whitespace>
                            <li is="reminder-item" item="{{item}}"></li>
                        </template>
                    </ul>
                </section>
            </template>

        </section>
    </template>
    <script>
      (function() {
        'use strict';

        Polymer({
          is: 'reminder-component',

          properties: {
            reminders: {
              type: Array,
            },
            model: {
              type: Object,
            },
            modelId: {
              type: String,
            },
          },

          attached: function() {
            this.model = this.$.model;
          },

          showDialog: function() {
            this.$.dialog.toggle();
          },

          dismissDialog: function(e) {
//            console.log(e);

            if (e && e.detail && e.detail.confirmed) {
              // confirmed logic goes here
              const {title, desc, dueDate} = this.$;

              if (!title.value) {
                alert('Title is required');
                this.showDialog();
                return false;
              }

              const updateObj = {
                title: title.value,
                desc: desc.value,
                dueDate: dueDate.date,
              };
              this.model.newReminder(updateObj);

              title.value = desc.value = '';
            }
          },

          destroyReminderAction: function(e, item) {
            this.model.destroyReminder(item);
          },

        });
      })();
    </script>
</dom-module>
