<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="reminder-input.html">

<dom-module id="reminder-item">
    <template strip-whitespace>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .reminder-item span {
                padding: 20px 5px;
                width: 25%;
                display: inline-block;
            }

            .reminder-item span.desc {
                width: 30%;
            }

            .delete-icon {
                width: 5%;
                min-width: 40px;
            }

        </style>
        <div class="reminder-item">
            <span class="title">{{dueDate}}</span>
            <span>{{item.title}}</span>
            <span class="desc">{{item.desc}}</span>
            <paper-icon-button class="delete-icon" icon="delete" on-tap="_destroyAction"></paper-icon-button>
        </div>

    </template>
    <script>
      (function() {
        'use strict';

        Polymer({
          is: 'reminder-item',

          extends: 'li',

          properties: {
            item: {
              type: Object,
              value: function() {
                return {};
              },
            },
            dueDate: {
              type: String,
              computed: '_getDueDate(item.dueDate)',
            },
          },

          _getDueDate: function(date) {
                if(!date) return '';

                const d = new Date(date);
                return `${d.getDate()}/${d.getMonth()+1}/${d.getFullYear()}`;
          },

          _destroyAction: function() {
            this.fire('destroy-item', this.item);
          },
        });
      })();
    </script>
</dom-module>
